* {
  padding: 0;
  margin: 0;
  background-color: white;
}
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  max-width: 1200px;
}

ul {
  display: flex;
  list-style: none;
  gap: 1rem;
}

.navbar {
  padding-right: 10rem;
}

.button1 {
  border-style: none;
  color: gray;
  padding-left: 20px;
  padding-right: 5px;
}

.button2 {
  border-radius: 10px;
  padding: 5px;
  color: gray;
  border-color: gray;
}

a {
  text-decoration: none;
  color: gray;
}

/* middle section */

.middle {
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
  max-width: 1200px;
  align-items: center;
}

.middleleft {
  padding: 140px;
  padding-top: 5rem;
}

h1 {
  padding: 20px;
}

h2 {
  padding-bottom: 2rem;
  font-size: 50px;
}

p {
  color: gray;
  padding-bottom: 20px;
}

.button3 {
  background-color: black;
  color: white;
  border-radius: 15px;
  padding: 10px;
}

.image {
  margin-top: 30px;
  max-width: 60%;
  height: auto;
  padding-bottom: 10rem;
}

.bottom1 {
  padding-top: 10rem;
  display: flex;
  align-items: center;
}

.button1:hover {
  transition: 0.3s;
  color: red;
}

.button2:hover {
  transition: 0.3s;
  text-decoration: underline;
  color: blue;
}

.button3:hover {
  text-decoration: underline;
  transition: 0.3s;
  color: orange;
}

ul:hover {
  transition: 0.3s;
  text-decoration: underline;
  color: blueviolet;
}

@media (max-width: 700px) {
  .navbar {
    display: none;
  }
  .middle {
    flex-direction: column-reverse;
  }
}
